# Phase 1: website credentials
USER_ENERGIAXXI_1=
PWD_ENERGIAXXI_1=

# PostgreSQL connection
SERVER_WTS=
DB_WTS_ELEC=
USER_DB_WTS=
PWD_DB_WTS=
PORT_DB_WTS=5432
SCHEMA_DB_WTS=public
SSLMODE_DB_WTS=prefer

